<form method="POST" id="fContato" action="mailto:yargonascc@gmail.com">
    
<fieldset id="usuario"><legend>Identificaçao do Usuário</legend>
    <p><label for="cNome">Nome:</label> 
        <input type="text" name="tNome" id="cNome" size="30" maxlength="30" placeholder="Nome Completo" /></p>
    <p><label for="cSenha">Senha:</label> 
        <input type="password" name="tSenha" id="cSenha" size="30" maxlength="20" placeholder="8 Caracteres"/> </p>
    <p><label for="cEmail">E-mail:</label> 
        <input type="email" name="tEmail" id="cEmail" size="30" maxlength="30" placeholder="@gmail.com" /> </p>
    <fieldset id="sexo"><legend>Sexo</legend>
    <input type="radio" name="tSexo" id="cMasc"/> <label for="cMasc">Masculino</label> <br/>
    <input type="radio" name="tSexo" id="cFame"/> <label for="cFame">Feminino</label>
</fieldset>
    <p>Data de Nascimento: <input type="date" name="tDate" id="cDate" /> </p>
</fieldset>

<fieldset id="endereco"><legend>Endereço do Usuário</legend>
    <p><label for="cRua">Logradouro:</label>
        <input type="text" name="tRua" id="cRua" size="80" maxlength="80" placeholder="Rua, Av, Trav..."  /> </p>
    <p><label for="cNum">Número:</label> 
        <input type="number" name="tNum" id="cNum" min="0" max="99999" /></p>
    <p><label for="cEst">Estado: </label>
        <select name="cEst" id="cEst"> 
        <optgroup label="Regiao Sudeste"><option value="RJ">Rio de Janeiro</option>
             <option value="SP">Sao Paulo</option>
              <option value="MG">Minas Gerais</option>
        </optgroup>

        <optgroup label="Regiao Sul"> <option value="SC">Santa Catarina</option>
             <option value="RS">Riu Grande Do Sul</option>
             <option value="PR">Parana</option>
        </optgroup>

        </select></p>
    <p><label for="cCid">Cidade:</label> <input type="text" name="tCid" id="cCid" maxlength="40" size="40" placeholder="Cep..." list="cidades"/> </p>
    <datalist id="cidades">
       <option value="Rio de Janeiro"></option>
       <option value="Nova Iguaçu"></option>
       <option value="Niteroi"></option>
       <option value="Belford Roxo"></option>

    </datalist>
</fieldset>

<fieldset id="mensagen"><legend>Mensagem do Usuário</legend>
    <p><label for="cGra">Grau de Urgência:</label>
    Min<input type="range" name="tGra" id="cGra" min="0" max="10" step="0.5"  /> Máx </p>
    <p><label for="cMen">Mensagem:</label>>
    <textarea name="tMen" id="cMen" cols="40" rows="5" placeholder="Deixe sua Mensagem!"></textarea>
    </p>
</fieldset>

<input type="submit" value="Enviar" />
</form> 